<%- include('../partials/header'); %>
<main>
 <h1 class="center">Thank you for asking about <%= cat.name.replace(/^[a-z]/, (match) => match.toUpperCase()) %>&nbsp;!</h1>
<div class="flex-container details">

 <% if (cat) { %>
  <ul class="details">
    <li>Name: <%= cat.name.replace(/^[a-z]/, (match) => match.toUpperCase()) %> </li>
    <li>Breed: <%= cat.breed ? cat.breed : "unknown" %> </li>
    <li>Sex: <%= cat.sex ? cat.sex : "unkown" %> </li>
    <li>Temperment: <%= cat.temperment ? cat.temperment : "unknown" %> </li>
    <li>Age: <%= cat.age ? cat.age : "unknown" %> </li>
    <% if (cat.favToys && cat.favToys.length > 0) { %>
      <li>Favorite Toys: <%= cat.favToys.join(", ") %></li>
    <% } else { %>
      <li class="hidden"> </li>
    <% } %>
    <li>Adoptable: <%= cat.isAvailable ? cat.isAvailable : "status unknown" %> </li>
  </ul>

  <div class="featured-image details">
    <img id="catImage" src="<%= path %>">

    <div id="info">

      <% if (cat.isAvailable == true ) { %>
        <p class="center"><%=cat.name.replace(/^[a-z]/, (match) => match.toUpperCase())%> is available for adoption!</p>
      <% } else if (cat.isAvailable == false ){ %>  
        <p class="center"><%=cat.name.replace(/^[a-z]/, (match) => match.toUpperCase())%> is not available for adoption</p>
     <%  } else { %>
      <p class="center">Please contact us for <%=cat.name.replace(/^[a-z]/, (match) => match.toUpperCase())%>'s adoption status</p>
     <% } %>
    
    <% } else { %>
      <p>We're sorry, that cat isn't in our system</p>>
    <% } %>
      </div>

  </div>

</div> <!-- end container-->

</main>
  <%- include('../partials/footer'); %>
</body>
</html>

